.item {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  box-shadow: inset -2px -2px 5px 1px #e2dede;
}

.item:not(:last-child) {
  /* margin-bottom: 10px; */
  /* border-bottom: 1px solid #000; */
}

.status {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}

.online {
  background: radial-gradient(#49ef96c1 30%, #fff 70%);
}

.offline {
  background: radial-gradient(#ef3636c2 30%, #fff 70%);
}

.avatar {
  margin-right: 10px;
}
